<h2>{% block title %}{% endblock %}</h2>
<p>{% block description %}{% endblock %}</p>
<p>For example, if the program was given the following input was passed through stdin:</p>
<div class="alert alert-secondary">
  <pre>{% block input %}{% endblock %}</pre>
</div>
<p>Your program would output:</p>
<div class="alert alert-secondary">
  <pre>{% block output %}{% endblock %}</pre>
</div>
<h2>Example Input & Output</h2>
<a class="btn btn-outline-info" href="inputs/input{{ problem }}" role="button">Input</a>
<a class="btn btn-outline-info" href="outputs/output{{ problem }}" role="button">Output</a>